<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>Routine Planner</title>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <main>
      <article>
        <hgroup>
          <h1>Routine Planner</h1>
          <h3>A simple class scheduler for universities.</h3>
        </hgroup>

        <section>
          <a href="/addTeacher" target="_blank" class="card">
            <span class="icon">👨‍🏫</span>
            Add Teacher
          </a>
          <a href="/preferences" target="_blank" class="card">
            <span class="icon">📅</span>
            Generate Routine
          </a>
          <a href="/editTeachers" target="_blank" class="card">
            <span class="icon">✏️</span>
            Edit Teachers
          </a>
        </section>
      </article>
    </main>
  </body>
</html>
